body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: red;
    font-size: 80;
    font-weight: 400;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
  }
  a{
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    color: blue;
  } 
  button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    margin: 10px 10px;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
    
  }
  